body{
    background: rgb(0,36,31);
    background: linear-gradient(90deg, rgba(0,36,31,0.9023984593837535) 4%, 
    rgba(35,131,222,1) 8%, rgba(0,212,255,1) 90%, rgba(26,53,95,1) 94%);
}
p{
    text-decoration-color: blue;
}
