body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,61,38,1) 4%, rgba(41,177,43,1) 52%, rgb(89, 0, 255) 100%);
}
p{
  width: 50%;
  position: relative; 
  top: 50%;
  text-align: center;/* Center align the text within the paragraph */
  transform: translate(0%); /* Vertical centering */
  margin: 0 auto; margin: 0 auto; /* Horizontal centering */
}
nav,a {background-color: black;
color: aqua;
}
