body{
    background-image: url(projectsbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p,div  {
    color: aqua;
    padding: auto;
    width: auto;
}
body a{
    color: beige;
}
iframe{
    align-items: center;
}
