body{
    background-image: url(projectsbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p,div  {
    color: aqua;
    padding: auto;
}
body a{
    color: beige;
}
